{% include 'header.html' %}

<!-----------------------------------------            Comunidades Index         --------------------------------------------->


<div class="container" style="margin: 0; padding: 0; width: auto; max-width: 1600px; height: auto; overflow: hidden;">

    <div class="row" style="background-image: url('/static/Comunidad_SC1.png'); background-position: center center; border: 1px solid; position: relative;">

        <div class="row" style="padding-left: 50px;">
            <br>
            <h3 class="display-4 text-white">
               Eventos:
            </h3>
        </div>

        <div class="col text-white" style=" padding-left:60px" >
            
        </div>

        <div class="col" style="background-color:orange;">
            
        </div>

    </div>

    <div class="row">

        <div class="col" style="text-align:center">

            
        </div>

    </div>

</div>

{% include 'footer.html' %}