    </body>

    <footer class="bg-dark text-center">

        <div class="container">

            <br>
            <img title="AIM Logo Oficial" width="75" height="60" src="{{url_for('static', filename='AIM.png')}}">
            <br>
            <br>
            <br>
               
             <div class="row align-items-center">

                <div class="col text-center">
                    <a class="text-decoration-none text-reset" href="/">Facebook</a>
                </div>

                <div class="col text-center">
                    <a class="text-decoration-none text-reset" href="/">Twitter</a>
                </div>

                <div class="col text-center">
                    <a class="text-decoration-none text-reset" href="/">LinkedIn</a>
                </div>

                <div class="col text-center">
                    <a class="text-decoration-none text-reset" href="/">Instagram</a>
                </div>

            </div>

            <br>
            <br>
               
            <div class="row align-items-center">
                <div class="col text-center">
                    <a class="text-decoration-none h4 text-white font-weight-bold" aria-current="page" href="/">Reglamento</a>
                </div>

                <div class="col-auto text-center">
                    <a class="text-decoration-none h4 text-white" aria-current="page" href="/">Contactanos</a>
                </div>

                <div class="col text-center">
                    <a class="text-decoration-none h4 text-white" aria-current="page" href="/">Politica de privacidad</a>
                </div>
            </div>

            <br>
            <br>
            
        </div>

        <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
            <br>
            <label class="fs-5 text-white">© 2022 Copyright: AIM</label>
            <br><br>
        </div>
    
    </footer>

</html>