        </div>
        <br><br>

        <footer class="text-muted py-5 bg-light text-dark">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="/">Regresar</a>
                </p>
                
                <p class="mb-1">
                    Developed by Equipo 2
                </p>

                <p class="mb-0">
                    Aplicacion Web de ejemplo para la materia de S.I de un Bar
                </p>
                <br>
                <p>
                    No le exija mucho al programa, ta' chiquito :(
                </p>
            </div>
        </footer>

    </body>

</html>