{% include 'header.html' %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Bienvenido</h1>
<h2>Esta es la pantalla principal</h2>
<br>

<script language="JavaScript">
    function MM_openBrWindow(theURL,winName,features) { //v2.0
    window.open('/indexme','ventana','width=1000,height=550');
    }
</script>

<input type="button" class="btn btn-outline-primary" name="MM_openBrWindow" value="Menu" onclick="location.href='javascript:MM_openBrWindow()'" />

{% include 'footer.html' %}