{% include 'header.html' %}

<!-----------------------------------------            Comunidades Index         --------------------------------------------->



<div class="container col-xs-12" style="margin: 0; padding: 10px; width: auto; max-width: 1600px; height: 720px; overflow: hidden; background-image: url('/static/Comunidad_SC1.png'); ">

    <br>
    <br>
    <br>
    <br>
    
    <div class="col-xs-12" style="justify-content: center; align-items: center; display: flex; ">
    <h3 class="display-4 ">Iniciaste sesion</h3>

    </div>

</div>

{% include 'footer.html' %}